[Desktop Entry]
Encoding=UTF-8
Name=EsteidUtil
Name[ee]=EsteidUtil
GenericName=Smartcard tool
Comment=EstEID smartcard management tool
Comment[et]=ID-kaardi utiliit
Exec=EsteidUtil
Terminal=false
Icon=esteidutil
Type=Application
Categories=Utility;GTK;
