[Desktop Entry]
Name=esteidutil
Name[ee]=esteidutil
GenericName=Smartcard tool
Comment=EstEID smartcard management tool
Comment[et]=ID-kaardi utiliit
Exec=esteidutil
Terminal=false
Icon=esteidutil
Type=Application
Categories=Utility;GTK;
